mixin labeledinput(type, name)
  label(for=name,id='label_'+name)= name+':'
  input(type=type,name=name,id=name)
mixin labeledcb(type, name)
  input.checkbox(type=type,name=name,id=name)
  label.checkbox(for=name,id='label_'+name)= name
mixin labeledarea(name)
  label(for=name,id='label_'+name)= name+':'
  textarea(name=name,id=name)&attributes(attributes)
doctype html
html
  head
    if !chrome
      link(rel='stylesheet',type='text/css',href='dialog-polyfill.css')
    style.
      #status {
        height: 1.5em;
      }
      th {
      }
      dialog h3 {
        margin: 0;
      }
      th {
        background-image: linear-gradient(rgb(200, 200, 255), rgb(200, 200, 255) 38%, rgb(180, 180, 255));
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
        text-shadow: rgb(240, 240, 240) 0px 1px 0px;
      }
      td {
        background-color: rgb(240, 240, 240);
      }
      td.checkbox {
        text-align: center;
      }
      #controlhead {
        display: flex;
      }
      .box {
        display: flex;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        font-family: inherit;
        font-size: inherit;
        padding: 0.1em 0.5em;
        margin: 1px;
        border: solid 2px;
        border-radius: 5px;
        border-color: #8080ff;
        box-sizing: content-box;
        color: black;
        text-decoration: none;
        min-height: 2em;
        min-width: 4em;
        background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
        text-shadow: rgb(240, 240, 240) 0px 1px 0px;
        border-color: rgba(0, 0, 0, 0.25);
      }
      .btn:hover {
        /*background-color: #ccccff;*/
        background-image: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240) 38%, rgb(224, 224, 224));
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 0px, rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
        border-color: rgba(0, 0, 0, 0.3);
      }
      .checkbox {
        cursor: pointer;
      }
      label[for="query"] {
        vertical-align: top;
      }
      #confirmMessage {
        margin-bottom: 1em;
      }
      #import {
        display: none;
      }
      #dirtyAlert {
        font-weight: bold;
        color: #ff0000;
      }
      #detail_dialog_box {
        display: grid;
        align-items: center;
        width: min-content;
        grid-template-columns: auto repeat(5, auto 8ch);
      }
      #detail_dialog_box label, #detail_dialog_box span {
        margin-right: 0.5em;
        font-weight: bold;
      }
      #detail_dialog_box input[type="checkbox"] + label {
        margin-right: 0;
        font-weight: inherit;
      }
      #name, #key, #query {
        grid-column: span 10;
      }
  body
    div#controlhead
      a.btn#export(download='SearchExtender.conf.json') Export...
      label(for='import'): a.btn Import...
      input.btn#import(type='file')
      input.btn#new(type='button',value='New...')
      input.btn#newFromText(type='button',value='New from text...')
      input.btn#save(type='button',value='Save')
      span#dirtyAlert
    table#table
      tr
        th Edit
        th Name
        th OMNI
        th PAGE
        th SEL
        th LINK
        th IMG
        th Key
        th Query
        th CurTab
        th POST
        th Del
    #status
    dialog#detail
      h3#heading
      hr
      form(id='detail_dialog',method='dialog')
        div#detail_dialog_box
          +labeledinput('text', 'name')
          span#target target:
          +labeledcb('checkbox', 'omnibox')
          +labeledcb('checkbox', 'page')
          +labeledcb('checkbox', 'selection')
          +labeledcb('checkbox', 'link')
          +labeledcb('checkbox', 'image')
          +labeledinput('text', 'key')
          +labeledarea('query')(rows='5',cols='80')
          span#option option:
          +labeledcb('checkbox', 'curtab')
          +labeledcb('checkbox', 'post')
        div.box
          input.btn#update(type='submit',value='')
          input.btn#cancel(type='reset',value='Cancel')
    dialog#fromText
      h3 New from text
      hr
      form(method='dialog')
        textarea#entry(rows='10',cols='80')
        br
        div.box
          input.btn#confirmFromText(type='submit',value='Add')
          input.btn#cancelFromText(type='reset',value='Cancel')
    dialog#confirm
      h3 Confirmation
      hr
      #confirmMessage
      form.box(method='dialog')
        input.btn#confirmConfirm(type='submit',value='Confirm')
        input.btn#cancelConfirm(type='reset',value='Cancel')
    dialog#alert
      h3#alertTitle
      hr
      #alertMessage
      input.btn#alertConfirm(type='submit',value='OK')
    if !chrome
      script(src='dialog-polyfill.js')
    script(src='options.js')
