mixin labeledinput(type, name)
  label(for=name)= name
  input(type=type,name=name,id=name)
mixin labeledarea(name)
  label(for=name)= name
  textarea(name=name,id=name)&attributes(attributes)
doctype html
html
  head
    if !chrome
      link(rel='stylesheet',type='text/css',href='dialog-polyfill.css')
    style.
      #status {
        height: 1.5em;
      }
      dialog h3 {
        margin: 0;
      }
      label[for="query"] {
        vertical-align: top;
      }
      #confirmMessage {
        margin-bottom: 1em;
      }
      #import {
        opacity: 0;
      }
      #dirtyAlert {
        font-weight: bold;
        color: #ff0000;
      }
  body
    a#export(download='SearchExtender.conf.json') export
    |
    |
    label(for='import'): a import...
    input#import(type='file')
    br
    input#new(type='button',value='New...')
    input#newFromText(type='button',value='New from text...')
    input#save(type='button',value='Save')
    span#dirtyAlert
    table#table
      tr
        th Edit
        th Name
        th OMNI
        th PAGE
        th SEL
        th LINK
        th IMG
        th Key
        th Query
        th CurTab
        th POST
        th Del
    #status
    dialog#detail
      h3#heading
      hr
      form(method='dialog')
        +labeledinput('text', 'name')
        +labeledinput('checkbox', 'omnibox')
        +labeledinput('checkbox', 'page')
        +labeledinput('checkbox', 'selection')
        +labeledinput('checkbox', 'link')
        +labeledinput('checkbox', 'image')
        br
        +labeledinput('text', 'key')
        br
        +labeledarea('query')(rows='5',cols='80')
        br
        +labeledinput('checkbox', 'curtab')
        +labeledinput('checkbox', 'post')
        br
        input#update(type='submit',value='')
        input#cancel(type='reset',value='Cancel')
    dialog#fromText
      h3 New from text
      hr
      form(method='dialog')
        textarea#entry(rows='10',cols='80')
        br
        input#confirmFromText(type='submit',value='Add')
        input#cancelFromText(type='reset',value='Cancel')
    dialog#confirm
      h3 Confirmation
      hr
      #confirmMessage
      form(method='dialog')
        input#confirmConfirm(type='submit',value='Confirm')
        input#cancelConfirm(type='reset',value='Cancel')
    dialog#alert
      h3#alertTitle
      input#alertConfirm(type='submit',value='OK')
    if !chrome
      script(src='dialog-polyfill.js')
    script(src='multiua.js')
    script(src='options.js')
